In [ ]:
import pandas as pd
import numpy as np

In [ ]:
A=np.random.randint(10,size=(4,4))
A

array([[4, 6, 3, 0],
       [9, 0, 2, 6],
       [3, 2, 2, 6],
       [6, 5, 4, 9]])

In [ ]:
df=pd.DataFrame(A)
df

   0  1  2  3
0  4  6  3  0
1  9  0  2  6
2  3  2  2  6
3  6  5  4  9

In [ ]:
df=pd.DataFrame(A,columns=['Random value 1','Random value 2','Random value 3','random value 4'])
df

   Random value 1  Random value 2  Random value 3  random value 4
0               4               6               3               0
1               9               0               2               6
2               3               2               2               6
3               6               5               4               9

In [ ]:
print(df.count())

Random value 1    4
Random value 2    4
Random value 3    4
random value 4    4
dtype: int64

In [ ]:
print(df.sum())

Random value 1    22
Random value 2    13
Random value 3    11
random value 4    21
dtype: int64

In [ ]:
print(df.sum(1))

0    13
1    17
2    13
3    24
dtype: int64

In [ ]:
print(df.mean())

Random value 1    5.50
Random value 2    3.25
Random value 3    2.75
random value 4    5.25
dtype: float64

In [ ]:
print(df.mean(1))

0    3.25
1    4.25
2    3.25
3    6.00
dtype: float64

In [ ]:
print(df.std())

Random value 1    2.645751
Random value 2    2.753785
Random value 3    0.957427
random value 4    3.774917
dtype: float64

In [ ]:
print(df.min())

Random value 1    3
Random value 2    0
Random value 3    2
random value 4    0
dtype: int64

In [ ]:
print(df.max())

Random value 1    9
Random value 2    6
Random value 3    4
random value 4    9
dtype: int64

In [ ]:
print(df.abs())

   Random value 1  Random value 2  Random value 3  random value 4
0               4               6               3               0
1               9               0               2               6
2               3               2               2               6
3               6               5               4               9

In [ ]:
print(df.describe())

       Random value 1  Random value 2  Random value 3  random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         5.500000        3.250000        2.750000        5.250000
std          2.645751        2.753785        0.957427        3.774917
min          3.000000        0.000000        2.000000        0.000000
25%          3.750000        1.500000        2.000000        4.500000
50%          5.000000        3.500000        2.500000        6.000000
75%          6.750000        5.250000        3.250000        6.750000
max          9.000000        6.000000        4.000000        9.000000

In [ ]:
print(df.isna())

   Random value 1  Random value 2  Random value 3  random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
result=df.dtypes
print(result)

Random value 1    int64
Random value 2    int64
Random value 3    int64
random value 4    int64
dtype: object

In [ ]:
df.iloc[:,1:3]

   Random value 2  Random value 3
0               6               3
1               0               2
2               2               2
3               5               4

In [ ]:
df.head(2)

   Random value 1  Random value 2  Random value 3  random value 4
0               4               6               3               0
1               9               0               2               6

In [ ]:
df.take([1,3],axis=1)

   Random value 2  random value 4
0               6               0
1               0               6
2               2               6
3               5               9