Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [11]:

import pandas as pd
import numpy as np

# Set seed for reproducibility
np.random.seed(42)

# Create random data
data = np.random.randn(4, 4)

# Create column names
columns = ['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4']

# Create DataFrame
df = pd.DataFrame(data, columns=columns)

# Print the DataFrame
print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.496714  -0.138264   0.647689   1.523030
1  -0.234153  -0.234137   1.579213   0.767435
2  -0.469474   0.542560  -0.463418  -0.465730
3   0.241962  -1.913280  -1.724918  -0.562288

Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [12]:


# Rename column names
new_columns = {'Feature 1': 'Random value 1',
               'Feature 2': 'Random value 2',
               'Feature 3': 'Random value 3',
               'Feature 4': 'Random value 4'}

df = df.rename(columns=new_columns)

# Print the DataFrame
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.496714       -0.138264        0.647689        1.523030
1       -0.234153       -0.234137        1.579213        0.767435
2       -0.469474        0.542560       -0.463418       -0.465730
3        0.241962       -1.913280       -1.724918       -0.562288

Task - 3 Find the descriptive statistics of the 'df' dataframe

In [13]:
# Calculate descriptive statistics
statistics = df.describe()

# Print the descriptive statistics
print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.008762       -0.435780        0.009641        0.315612
std          0.439772        1.043924        1.426317        1.007175
min         -0.469474       -1.913280       -1.724918       -0.562288
25%         -0.292984       -0.653923       -0.778793       -0.489869
50%          0.003904       -0.186201        0.092135        0.150852
75%          0.305650        0.031942        0.880570        0.956334
max          0.496714        0.542560        1.579213        1.523030

Task - 4 Check for the null values in 'df' and find the data type of the columns.

In [14]:
# Check for null values
null_values = df.isnull().sum()

# Find data types of columns
data_types = df.dtypes

# Print the null values and data types
print("Null values:")
print(null_values)
print("\nData types:")
print(data_types)

Null values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [15]:

# Display columns using loc method
loc_result = df.loc[:, ['Random value 2', 'Random value 3']]
print("Using loc method:")
print(loc_result)

# Display columns using iloc method
iloc_result = df.iloc[:, [1, 2]]
print("\nUsing iloc method:")
print(iloc_result)

Using loc method:
   Random value 2  Random value 3
0       -0.138264        0.647689
1       -0.234137        1.579213
2        0.542560       -0.463418
3       -1.913280       -1.724918

Using iloc method:
   Random value 2  Random value 3
0       -0.138264        0.647689
1       -0.234137        1.579213
2        0.542560       -0.463418
3       -1.913280       -1.724918